<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Wallets
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Wallets</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngFor="let item of wallets" (click)="newTransaction(item)">
            <ion-label>
                {{item}}
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addWallet()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>