<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Amount </ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-list>
        <ion-item>
            <ion-input type="number" [(ngModel)]="amount"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="addAmount(amount)"> Add Amount </ion-button>
    </ion-list>


    <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>